<footer class="mt-5">
  <div class="text-center py-3">
    <a href="https://hanyu.baidu.com/zici/s?wd=%E5%B0%8F%E5%8F%AF&query=%E5%B0%8F%E5%8F%AF&srcid=28232&from=kg0" target="_blank" rel="nofollow noopener"><b>小可</b></a>
    <i class="" style="font-style:normal;">の</i>
    <a href="https://www.hxjget.com" target="_blank" rel="nofollow noopener"> <b>熙军</b></a>
    <br>

    <%- partial('_partial/busuanzi.ejs') %>

    <%- partial('_partial/beian.ejs') %>
  </div>
</footer>

<!-- SCRIPTS -->
<%- partial('_partial/scripts.ejs') %>
